name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: jira-link-generator.html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
